// Задание масштаба
html {
  font-size: $root-font-size-percent;
  -ms-text-size-adjust: $root-font-size-percent;
  -moz-text-size-adjust: $root-font-size-percent;
  -webkit-text-size-adjust: $root-font-size-percent;
  line-height: $root-line-height;
}

// Задаём шрифт и базовый размер текста всего документа
body {
  font-family: $font-family;
  // font-size: $body-font-size;
  @include fst-rc(font-size, $body-font-size); // здесь миксин именно fst-rc!
  color: $body-color;
  background-color: $body-background-color;
}

// === headings ===
h1,
h2,
h3,
h4,
h5,
h6 { font-weight: $font-weight-headings; }
