@import "../../../#project/styles/_presets.scss";

@include bp($container-page) { #zooming { display: none; } }

/************* === ./#picker/template/col3/col3.scss starting === *************/
.page {
  // Прибиваем footer к низу страницы
  display: flex;
  flex-direction: column;
  align-items: center; // центрируем по горизонтали page__content!

  @include box(100%);

  &__header-wrap,
  &__footer-wrap {
    flex: 0 0 auto;
    // Памятка по свойству flex: flex-grow flex-shrink flex-basis;
    width: 100%;
  }

  &__content {
    // width > ./#project/settings/sets/selectors.scss > .container-page
    flex: 1 0 auto;

    @include ie { // help for ie11
      width: 100%;
      min-height: 1vh; // здесь важно значение в vh большее нуля
    }
  }
}

.content_page {
  display: flex;

  &__sidebar-wrap {
    @include fst(min-width, $sidebar-width);
    @include fst(max-width, $sidebar-width);
    @include fst(padding-top, $sidebar-padding);
    @include fst(padding-right, $sidebar-padding);
    @include fst(padding-bottom, $sidebar-padding);
    @include fst(padding-left, $sidebar-padding);
    // @media with "display: none;" > ./#project/styles/templates/col3.scss
  }

  &__aside-wrap {
    @include fst(min-width, $aside-width);
    @include fst(max-width, $aside-width);
    @include fst(padding-top, $aside-padding);
    @include fst(padding-right, $aside-padding);
    @include fst(padding-bottom, $aside-padding);
    @include fst(padding-left, $aside-padding);
    // @media with "display: none;" > ./#project/styles/templates/col3.scss
  }

  &__main-wrap {
    width: $main-width;

    .zoom-in & {
      @include ie { min-height: 1vh; } // help for ie11
      // здесь важно значение в vh большее нуля
    }

    @include fst(padding-top, $main-padding);
    @include fst(padding-right, $main-padding);
    @include fst(padding-bottom, $main-padding);
    @include fst(padding-left, $main-padding);
  }
}

/*****************  ./#picker/template/col3/col3.scss ending  *****************/
